
@media only screen and (min-width: 300px)and (max-width: 350px){
    .L-test-content{
        max-height: 160px;
    }
    .question-p i {  
        margin: 0 !important;
    }
}
@media only screen and (min-width: 351px)and (max-width: 376px){
    .L-test-content{
        max-height: 200px;
    }
}
@media only screen and (min-width: 376px){
    .L-test-content{
        max-height: 250px;
    }
}
.L-index-back {
    background: url(../img/index_bg.png) repeat-y fixed 100%;
    background-size: 100% 100%;
}

.start-share{
  width: 20%;
  position: absolute;
  top: 25%;
  left: 70%;
  /*z-index: -1;*/
}

.L-index-a {
    width: 100%;

    text-align: center;
    clear: both;
}

.L-index-b{
	margin: 3% auto 8% auto;
	text-align: center;
	clear: both;
}
.L-index-b a:last-child{
	margin-left: 5%;
}
.h-wisdom-index-header {
    margin: 10px 15px;
    background: #5CB85C;
}

.L-icon-img {
    width: 80%;
    /*margin-left: 16%;*/
}

.h-wisdom-index-header > img:nth-child(1) {
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 100%;
}

.h-wisdom-index-header > img:nth-child(2) {
    width: 90%;
    position: relative;
    top: -40px;
    left: 5%;
}

.h-wisdom-index-article {
    margin: 10px 15px 0;
}

.h-wisdom-index-article > p {
    padding: 5px 0;
    font-size: 18px;
    /*color: #031b92;*/
}

.h-wisdom-index-a {
	/*position: absolute;
  top: 80%;
  left: 5%;*/
    width: 90%;
  display: block;
  clear: both;
  /*text-align: center;*/
  margin: 0 auto;
  margin-top: 20%;
}

.h-wisdom-index-pai {
    width: 80px;
    height: 80px;
    float: right;
    margin: 0 15px;
    line-height: 80px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    background: url('http://pic.pocketuni.net/data/sys_pic/wisdom/paiming.png');
    background-size: 80px 80px;
    clear: both;
}

.h-wisdom-index-start {
    margin: 0 15px;
    clear: both;
}

.h-wisdom-index-start img {
    width: 60%;
    margin: 0 20%;
}

.h-wisdom-index-footer {
    position: absolute;
    bottom: 6%;
    width: 100%;
}

.h-wisdom-index-footer img {
    display: block;
    width: 40%;
    margin: auto;
}

.company {
    width: 40%;
    margin: 10px 30% 0;
}

.h-wisdom-index-footer > p {
    height: 20px;
    margin-top: -25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.question-header {
    margin: 5px 0;
    clear: both;
}

.question-header > .question-time {
    width: 50px;
    height: 50px;
    float: right;
    line-height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    opacity: 0.4;
}

.question-header img {
    margin: -10px auto;
    width: 100%;
}

.question-article {
    position: absolute;
    top: 6%;
    /* left: 5%; */
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 12px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
}
.question-article > .question {
    margin: 15px;
}
.choose-question{
	color: #FFFFFF!important;
	background-color: #e95603!important;
}

.question-article > p:nth-child(n+2) {
    margin: 5px 15px;
    /* line-height: 30px; */
    float: left;
    width: 40%;
    background-color: #efefef;
    padding: 3%;
    border-radius: 5px;
}

.L-content {
    display: block;
}
.question-a{
    font-size: 16px;
}
.question-p i {
    font-style: normal;
     margin-left: 5%; 
    display: inline-block;
    /*overflow: hidden;*/
    width: 80%;
    /*float: right;*/
    /*vertical-align: top;*/
    font-size: 16px;
}

#choose {
  /*color: #cd4140!important;*/
}

.choose {
  position: absolute;
  width: 20px;
  height: 20px;
  /*left: 6px;*/
    margin-left: -15px;
    margin-top: 12px;
}

.h-back-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=50);
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.h-back-timeover,
.h-back-error {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    display: none;
    -webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    z-index: 99;
}

.h-back-timeover > img:nth-child(1),
.h-back-error > img:nth-child(1) {
    width: 100%;
}

.h-back-timeover > div,
.h-back-error > div {
    position: relative;
    width: 70%;
    left: 15%;
    margin-top: -40%;
}

.h-back-timeover > div img,
.h-back-error > div img {
    width: 42%;
    max-height: 100px;
    float: left;
    z-index: 100;
}

.h-back-timeover > div img:nth-child(1),
.h-back-error > div img:nth-child(1) {
    margin-right: 16%;
}

.question-dian {
    position: relative;
    left: 30%;
    /*top:-20%;*/
    width: 68%;
}

.h-question-footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    height: 20px;
    margin-top: 8%;
    color: #999;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.start-cover {
    width: 100%;
}
.start-btn{
	  margin-top: 5%;
	  margin-left: auto;
      text-align: center;
      line-height: 1px;
    	  width: 100%;
    max-width: 640px;
    height: 50px;
    overflow: hidden;
    padding: 5% 0;
    background: #ff5400;
    color: #FFFFFF;
    border-radius: 5px;
    /*position: fixed;*/
    /*bottom: 0;*/
    border: none;
    /*opacity: 0.9;*/
}
.start-again-btn{
	margin-top: 5%;
	margin-left: auto;
    text-align: center;
    font-size: 16px;
    width: 90%;
    max-width: 640px;
    height: 44px;
    overflow: hidden;
    /*padding: 3% 0;*/
    background: #ea5504;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.L-index-b-again button{
	/*margin-top: 5%;*/
	margin-left: auto;
    text-align: center;
    width: 40%;
    max-width: 640px;
    height: 42px;
    overflow: hidden;
    /*padding: 3% 0;*/
    color: #888;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    outline: none;
}
.L-index-b-again button:hover{
	background-color: #e8e8e8;
	border: none;
}
.L-index-b-share button{
	/*margin-top: 5%;*/
	margin-left: auto;
    text-align: center;
    color: #888;
    width: 40%;
    max-width: 640px;
    height: 42px;
    overflow: hidden;
    padding: 3% 0;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    /*position: fixed;*/
    /*bottom: 0;*/
    border: 1px solid #dcdcdc;
    /*opacity: 0.9;*/
   outline: none;
}
.L-index-b-share button:hover{
	background-color: #e8e8e8;
	border: none;
}
.invotate-btn {
    width: 30%;
    text-align: center;
}

.share-btn {
    width: 30%;
    text-align: center;
}

.start-no {
    width: 55%;
    margin-left: 20%;
}

.start-rule {
    display: block;
    width: 100%;
    margin: 15px 0 20px;
    color: #031b92 !important;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: underline !important;
}

.start-rule img {
    width: 60%;
}

.h-rank-header {
    margin-top: 10%;
}

.h-rank-header img {
    width: 100%;
}

.h-rank-ul {
    position: relative;
    top: -20%;
    height: 80%;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-size: 20px;
    color: #031b92;
    clear: both;
    overflow: scroll;
}

.h-rank-ul > li {
    position: relative;
    left: 17%;
    width: 66%;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
}

.h-rank-ul > li p:nth-child(2) {
    text-align: center;
}

.h-rank-footer {
    width: 100%;
    margin: 20px auto 5px;
    text-align: center;
    clear: both;
}

.h-rank-footer img {
    width: 60%;
}

.h-rank-footer a {
    display: block;
    width: 100%;
    margin: 5px 0 20px;
    color: #031b92 !important;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: underline !important;
}

.h-back-loading {
    position: relative;
    width: 52px;
    height: 16px;
    margin: 0 auto;
    background: url("http://pic.pocketuni.net/data/sys_pic/wisdom/gif.png") repeat-y;
    background-size: 1560px 16px;
    -webkit-animation: loading 1.4s steps(30) infinite;
    animation: loading 1.4s steps(30) infinite;
    z-index: 99;
}

@-webkit-keyframes loading {
    from {
        background-position: 0 0px;
    }
    to {
        background-position: -1560px 0px;
    }
}

.first-header img {
    width: 100%;
}

.first-header {
    margin-top: 5%;
    /*font-size: 14px;*/
    font-weight: bold;
    color: #413030;
    /* text-align: center; */
    text-indent: 1em;
}

.first-div {
    width: 90%;
    /* text-align: center; */
    margin: 3% auto;
    color: #666;
    font-size: 12px;
}

.first-div img {
    width: 60%;
    margin-left: 19%;
}

.L-result-test {
    background-color: #FFFFFF;
    overflow: hidden;
}

.go-home {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 50px;
}

.modal-body img {
    width: 60px;
    margin: 0 10px 0 0;
}

.Rule_header {
    height: 30px;
}

.L-result-body {
    background-color: #FFFFFF;
}

.L-margin-gred {
    width: 100%;
    height: 10px;
    background-color: #f2f1ee;
    overflow: hidden;
}

.L-test-index-content{
    width: 85%;
    margin: 0 auto;
    margin-top: 57px;
    padding: 37px 10px 20px 10px;
    /*padding-left: 10px;
    padding-right: 10px;*/
    background-color: #FFFFFF;
    border-radius: 5px;
    /*border-top: 37px solid #FFFFFF;
    border-bottom: 20px solid #FFFFFF;*/
    color: #666666;
    /*overflow-y: auto;*/
    opacity: 0.85;
    position: relative;
}
.L-test-index-content h3{
    color: #000000;
    text-align: center;
}

.L-test-content{
    max-height: 160px;
	text-indent: 2em;
	font-size: 14px;
    word-wrap: break-word;
    overflow-y: auto;
}
.L-test-title {
    font-weight: bold;
    text-indent: 1em;
}

/*测评前台*/
.L-test {
    width: 100%;
    height: 32px;
    background: #fff;
}

.L-test li {
    /*width: 93px !important;*/
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    /*border-top: 1px solid #efefef;*/
    /*border-right: 1px solid #efefef;*/
    /*border-bottom: 1px solid #efefef;*/
}

#carousel {
    position: fixed;
    /* margin: 10px 0; */
    width: 100%;
    height: 41px;
    color: RGB(137,137,137);
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    z-index: 999;
}

#carousel ul {
    position: relative;
}

#carousel li {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    /*width:93px;*/
    height: 40px;
    padding: 0 6px;
}

.L-test-on {
    color: #ea5504 !important;
    border-bottom: 1px solid #ea5504 !important;
}

.L-bank-card {
    float: left;
    width: 20% !important;
    height: 80px !important;
    margin: 0 auto;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
}

.L-bank-card img:first-child {
    float: left;
    width: 80px;
    height: 80px;
    /*margin: 5px 0 0 5px;*/
    border-radius: 5px;
    border: 0.5px solid #dcdcdc;
    box-sizing: border-box;
}

.L-hot {
    position: relative;
    top: -100%;
    width: 45%;
    float: left;
}

.L-bank-card p:nth-child(2) {
    margin-left: 1px;
}

.L-WiOdFlag {
    /*height: 80px !important;*/
    padding-left: 10%;
    overflow: hidden;
    margin-top: 10px;
}

.L-WiOdFlag p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.L-WiOdFlag p:nth-child(2) {
    font-size: 12px;
    color: #b5b5b5;
    /*height: 14px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding-top: 2%;
}

.L-see-number {
    float: right;
    padding-top: 3%;
    font-size: 12px;
    color: #b5b5b5;
}

.L-see-number img {
    width: 15px;
    vertical-align: initial;
}

.L-fqsc ul {
    padding-top: 13%;
    /*padding-bottom: 25%;*/
}

.L-fqsc-con {
    width: 95% !important;
    padding: 3%;
    background-color: #FFFFFF;
    overflow: hidden;
}

.L-fqsc-con:hover {
    background-color: #efefef;
}

.L-fqsc ul li {
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
.L-fqsc-my ul li {
    border-bottom: 1px solid #efefef;
    overflow: hidden;
}
/*猜你喜欢列表*/
.L-like-test-con {
    width: 100% !important;
    padding: 2%;
    background-color: #FFFFFF;
    overflow: hidden;
}

.L-like-test-con:hover {
    background-color: #efefef;
}

.L-like-test-list li {
    border-bottom: 1px solid #efefef;
}

.L-like-card {
    float: left;
    width: 87px !important;
    height: 92px !important;
    margin: 0 auto;
    margin-right: 5px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
}

.L-like-card img:first-child {
    float: left;
    width: 100%;
    height: 90px;
    /*margin: 5px 0 0 5px;*/
    border-radius: 5px;
    border: 0.5px solid #dcdcdc;
    box-sizing: border-box;
}

.L-like-card p:nth-child(2) {
    margin-left: 1px;
}

.L-like-content {
    height: 80px !important;
    padding-left: 1%;
    margin-top: 13px;
    overflow: hidden;
}

.L-like-content p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #3c3c3c;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.L-like-content p:nth-child(2) {
    font-size: 12px;
    color: #b5b5b5;
    height: 25px;
    padding: 3% 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.L-like-see-number {
    float: right;
    /*padding-top: 2%;*/
    font-size: 12px;
    color: #b5b5b5;
}

.L-like-see-number img {
    width: 30%;
    vertical-align: initial;
}

.L-like-test {
    background-color: #FFFFFF
}

.L-like-test-p {
    padding: 3% 3% 1% 3%;
    font-weight: bold;
}

/*Footer*/
.L-footBar{
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 20%;
    margin-bottom: 10%;
    overflow: hidden;

}

.L-footBar a.barSelected {color: #ea5504;}
.L-footBar a p{font-size: 20px;}
/*邀请好友*/
.L-searchBar {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
    background: #f3f1ee;
}

.L-searchBar div {
    width: 90%;
    height: 30px;
    background: #fff;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
}

.L-searchBar div img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: 5px;
    float: left;
    display: block;
    margin-left: 38%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.L-searchBar div input {
    width: 90% !important;
    border: none;
    height: 30px;
    line-height: 27px;
    width: auto;
    float: left;
    line-height: 20px;
    margin-left: 1%;
    color: #ccc;
}

.L-searchBar div img.alignL {
    margin-left: 2%;
}

.L-main{
    /* main绝对定位，进行内部滚动 */
    position: absolute;
    top: 50px;
    bottom: 34px;
    width: 100%;
    /* 使之可以滚动 */
    overflow-y: scroll;
    /* 增加该属性，可以增加弹性 */
    -webkit-overflow-scrolling: touch;
}

.L-friendList {
    width: 100%;
    padding-bottom: 15%;
    margin-bottom: 20%;
    height: auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

.L-friendList li {
    width: 90%;
    padding: 10px 5%;
    border-bottom: 1px solid #F3F1EE;
    overflow: hidden;
}

.L-friendList .L-pic {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    float: left;
}

.L-friendList div {
    float: left;
    width: auto;
    height: 40px;
    margin-left: 15px;
}

.L-friendList div p {
    overflow: hidden;
    font-size: 14px;
    color: #3E3E3E;
}

.L-friendList div p img {
    float: left;
    height: 14px;
    margin-top: 2px;
}

.L-friendList div p span {
    float: left;
    margin-right: 5px;
}

.L-friendList div i {
    display: block;
    font-size: 12px;
    color: #888;
}

.L-choose {
    width: 25px;
    display: block;
    float: right;
    object-fit: cover;
}

.L-invitation{
    width: 100%;
    max-width: 640px;
    height: auto;
    overflow: hidden;
    padding: 5% 0;
    background: #eb7433;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    border: none;
    opacity: 0.9;
}

.L-down-see {
    width: 90%;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    margin: 3% auto;
    border: 1px dashed #cdcdcd;
}

.L-down-see a {
    color: #ff5400;
}

.L-invitation-body {
    background-color: #FFFFFF;
}

.L-searchEmpty {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.L-searchEmpty img {
    width: 90%;
    padding-top: 10%;
    vertical-align: middle
}

.L-EmptyFrinde {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.L-EmptyFrinde img {
    width: 90%;
    padding-top: 10%;
    vertical-align: middle
}

.L_test_Swap {
    background-color: #FFFFFF;
}

.h-repayNoTip{
    height: auto;
    text-align: center;
}
.h-repayNoTip img{
    width: 70%;
    padding-top: 20%;
    vertical-align: middle;
}
.h-repayNoTip p{
    padding-top: 8%;
    color: #888888;
    font-size: 16px;    
}

@media only screen and (min-width: 300px)and (max-width: 350px){
    .L-WiOdFlag {
        padding-left: 10%;
    }
    .L-test-index-content h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .L-fqsc ul {
        padding-top: 13%;
    }
}
@media only screen and (min-width: 351px)and (max-width: 375px){
    .L-WiOdFlag {
        padding-left: 6%;
    }
    .L-test-index-content h3 {
        font-size: 18px;
        font-weight: bold;
    }
    .L-fqsc ul {
        padding-top: 10%;
    }
}
@media only screen and (min-width: 376px){
    .L-WiOdFlag {
        padding-left: 3%;
    }
    .L-test-index-content h3 {
        font-size: 20px;
        font-weight: bold;
    }
    .L-fqsc ul {
        padding-top: 10%;
    }
}

.L-index-title{
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	color: #FFFFFF;
	padding-top: 15%;
    padding-right: 1%;
    padding-left: 1%;
    word-wrap: break-word;
}
.L-index-testnum{
	margin-top: 5px;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
    line-height: 28.8px;
}
.L-index-testnum span{
	display: inline-block;
	margin-bottom: 3px;
}
.index-share{
	display: inline-block;
    width: 25px;
    vertical-align: middle;
}
.start-share{
  width: 20%;
  position: absolute;
  top: 25%;
  left: 70%;
  /*z-index: -1;*/
}
.edit-img{
    width: 15%;
    position: absolute;
    top: -20px;
    left: 43%;
    z-index: 999;
}