<div class="L-fqsc">
    <ul>
        <li ng-repeat="item in lists">
            <div class="L-fqsc-con">
                <div class="L-bank-card">
                    <img src="img/default.png">
                    <img src="img/hot.png"  class="L-hot"/>
                </div>
                <div class="L-WiOdFlag">
                    <p>{{item.name}}</p>
                    <p>有多少次，我们注重过自己的健康，关注过身体有多少次，我们注重过自己的健康，关注过身体</p>
                    <div class="L-see-number">
                        <img src="img/wimg11.png" />&nbsp;300
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>